body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.landing-header {
    background-color: #1F2937;
    padding: 20px 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.landing-header .logo {
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;
}

.landing-body .hero {
    background-color: #1F2937;
    padding: 72px 140px;
    display: flex;
    align-items: stretch;
}

.hero div {
    flex: 1 1 50%;
}

.hero .hero-text {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

.hero .hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #919191;
    color: #FFFFFF;
}

.hero-text .hero-secondary-text {
    font-size: 18px;
    font-weight: 100;
    color: #E5E7EB;
    padding-right: 24px;
}

.hero-text button {
    border-color: transparent;
    border-radius: 6px;
    background-color: #3882F6;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 18px;
    font-weight: 800;
    padding: 12px 32px;
}

.info {
    padding: 72px 140px;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #1F2937;
}

.info-images {
    padding-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.info-image {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    justify-content: center;
    width: 100px;
    font-size: 12px;
    font-weight: 100;
}

.info-image .info-image-border {
    border-radius: 12px;
    border: 2px #3882F6 solid;
    width: 100px;
    height: 100px;
}

.quote {
    background-color: #E5E7EB;
    padding: 72px 140px;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    text-align: end;
}